version: "3"
services:
  app:
    container_name: Smartcodehub
    restart: always
    build: ./
    ports:
      - "3666:3666"
    volumes:
      - .:/app
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"